body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}
<<<<<<< HEAD
=======

>>>>>>> 9384ca1fde0bc9a9a86c4e38c2be464070cb6762
h1,
h2,
h3 {
  line-height: 1.2;
}
<<<<<<< HEAD
a {
color: rgb(53 91 202);
}

a:visited{
    color:rgb(133 101 255);
}
=======

a {
  color: rgb(53 91 202);
}

a:visited{
  color:rgb(133 101 255);
}

img {
  max-width: 100%;
}
>>>>>>> 9384ca1fde0bc9a9a86c4e38c2be464070cb6762
